<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.qcby.lxt.mybatis.application.mapper.UserMapper">
    <select id="listAll"  resultType="com.qcby.lxt.mybatis.application.entity.User">
        select *  from user
    </select>
    <select id="getById" resultType="com.qcby.lxt.mybatis.application.entity.User">
        select *  from user where id = 1
    </select>
</mapper>